body{
    min-width: 457px;
    background-color: lightgrey;
}

/*start header styles*/
header .firstline{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: lightgrey;
}

header .firstline div{
    background-color: cadetblue;
    padding:0 15px;
}

li {
    list-style: none;
}

header ul{
    margin:0;
    padding:0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:center;
    height:60px;
    background-color: beige;
}

header ul li{
    background-color: cadetblue;
    padding:10px;
}
/*end header styles*/

/*start main section styles*/
.main{
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    background-color:lightgrey;
}

.main nav{
    width: 20%;
    min-width: 130px;
}

.main nav ul {
    padding:0;
}

.main nav ul li{
    display: flex;
    flex-flow: column nowrap;
    background-color:cadetblue;
    margin:10px 0;
}

article{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
}

article div {
    display: flex;
    margin: 10px;
    flex-flow: row nowrap;
    align-items: flex-end;
    width: 280px;
    height: 280px;
    -webkit-background-size:contain;
    background-size:contain;
}

article div p{
    margin: 0;
}

article div:first-child{
    background-image: url(../img/avatar.png);
}

article div:nth-child(2){
    background-image: url(../img/circle2.png);
    }

article div:nth-child(3){
    background-image: url(../img/circle3.png);
    }

article div:nth-child(4){
    background-image: url(../img/circle4.png);
    }

article div:nth-child(5){
    background-image: url(../img/avatar.png);

}

article div:last-child{
    background-image: url(../img/circle4.png);
    }

/*end main section styles*/



/*start footer styles*/
footer {
    display: flex;
    flex-flow: row;
    justify-content:center;
    background-color: cadetblue;
}
/*end footer styles*/
